
# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=19796

# bootstrap.dat hashlist settings (linearize-hashes)
min_height=0
max_height=100000

# bootstrap.dat input/output settings (linearize-data)
netmagic=d92aab6e

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

debug_output = False
